@import url('https://fonts.googleapis.com/css?family=Lato:400,300,500,700|Permanent+Marker');
@import "node_modules/tachyons-buttons/tachyons-buttons";
@import "node_modules/tachyons/css/tachyons";

$green: #21ba45;
$red: #db2828;
$black: #1b1c1d;

html, body {
    font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
    color: #212121;
    background: $red;
    font-size: 16px;
}

.application-container {
    background: white;
}

.marker {
    font-family: 'Permanent Marker', cursive;
}

.brand,
.red {
    color: $red;
}

.pointer {
    cursor: pointer;
}

.bg-green {
    background-color: $green;
}

.btn--black {
    background: $black;
}