@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,700|Permanent+Marker');
@import "node_modules/tachyons/css/tachyons";

html, body {
    font-family: 'Roboto';
    color: #212121;
}

.marker {
    font-family: 'Permanent Marker', cursive;
}

.brand {
    color: #D32F2F;
}

.red {
    color: #e53935;
}

.pointer {
    cursor: pointer;
}